<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.foundation.dao.MixMapper">
  <resultMap id="BaseResultMap" type="Map">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_name" jdbcType="VARCHAR" property="orderName" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="create_person_id" jdbcType="VARCHAR" property="createPersonId" />
    <result column="create_person_name" jdbcType="VARCHAR" property="createPersonName" />
    <result column="print_num" jdbcType="INTEGER" property="printNum" />
    <result column="bind_operation" jdbcType="INTEGER" property="bindOperation" />
    <result column="belong_person_id" jdbcType="VARCHAR" property="belongPersonId" />
    <result column="belong_person_name" jdbcType="VARCHAR" property="belongPersonName" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="motorcade_id" jdbcType="VARCHAR" property="motorcadeId" />
    <result column="motorcade_name" jdbcType="VARCHAR" property="motorcadeName" />
    <result column="fee_type" jdbcType="VARCHAR" property="feeType" />
    <result column="fee_second_type" jdbcType="VARCHAR" property="feeSecondType" />
    <result column="machine_type" jdbcType="VARCHAR" property="machineType" />
    <result column="work_type" jdbcType="VARCHAR" property="workType" />
    <result column="provision_type" jdbcType="VARCHAR" property="provisionType" />
    <result column="destination_id" jdbcType="VARCHAR" property="destinationId" />
    <result column="destination_name" jdbcType="VARCHAR" property="destinationName" />
    <result column="num" jdbcType="DOUBLE" property="num" />
    <result column="unit_price" jdbcType="DOUBLE" property="unitPrice" />
    <result column="first_pic" jdbcType="VARCHAR" property="firstPic" />
    <result column="secondly_pic" jdbcType="VARCHAR" property="secondlyPic" />
    <result column="thirdly_pic" jdbcType="VARCHAR" property="thirdlyPic" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="plate_number" jdbcType="VARCHAR" property="plateNumber" />
    <result column="unit_word" jdbcType="VARCHAR" property="unitWord" />
    <result column="is_bind" jdbcType="VARCHAR" property="isBind" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>

  <select id="getTotalNum" resultType="Map">
    SELECT sum(num) as num,sum(money) as money FROM con_order
    <where>
      project_name = #{projectName}
      <if test='motorcadeId!= null and motorcadeId!= ""'>
        and  motorcade_id= #{motorcadeId}
      </if>
    </where>
  </select>
</mapper>